<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: grid; place-items: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div style="
            width: 40rem;
        ">
        <div style="display: grid; place-items: center"><img src="/public/assets/images/logo.svg" alt="legous logo"></div>

        <div style="margin: 30px 0;color: #6750a4; font-size: 26px; text-align: center;">Cám ơn bạn đã đặt hàng tại <span style="font-weight: 600; background: #6750a4; color: white;">Legous</span>!</div>

        <div style="margin-bottom: 12px">Xin chào 05. Hồ Duy Hoàng Giang 12.3 ,</div>

        <div>Lazada đã nhận được yêu cầu đặt hàng của bạn và đang xử lý nhé. Bạn sẽ nhận được thông báo tiếp theo khi đơn hàng đã sẵn sàng được giao.</div>

        <div style="display: grid; place-items: center; margin-block: 30px;">
            <a href="#" style="display: block; padding: 14px 20px; background: #6750a4; color: white; border-radius: 8px; text-align: center; width: fit-content; text-transform: uppercase; text-decoration: none; font-weight: 800; font-size: 20px;">tình trạng đơn hàng</a>
        </div>

        <div>*<strong>Lưu ý nhỏ cho bạn</strong>: Bạn chỉ nên nhận hàng khi trạng thái đơn hàng là <span style="text-decoration: underline;">“Đang giao hàng”</span> và nhớ kiểm tra Mã đơn hàng, Thông tin người gửi và Mã vận đơn để nhận đúng kiện hàng nhé.</div>
    </div>
</body>
</html>